extends layout

block content
  h1= title
  p Welcome to #{title}
  div#tabla
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
  <script src="../javascripts/jquery-3.3.1.min.js"></script>
  <script src="../javascripts/popper.min.js" ></script>
  <script src="../javascripts/bootstrap.min.js" ></script>
  <script src="../javascripts/main.js"></script>
